@page "/"
@inject IProdutoServices pizzaServices
<PageTitle>Blazing Pizza</PageTitle>
<div class="main">
    <div style="float:right;width:70%; text-decoration-color:inherit">
        <div class="col-sm-10" style="float:left">
            <input class="form-control" type="text" placeholder="Filtrar pizza" @bind="@Filter" @oninput="FilterPizza" style="background-color: #ffffff; color: black;" />
        </div>
    </div>
    <h1>Pizzas</h1>
    <ul class="pizza-cards">
        @if (produtos != null)
        {
            @foreach (var special in produtos)
            {
                <li style="background-image: url('@special.Imagem.Url')">
                    <div class="pizza-info">
                        <span class="title">@special.Nome</span>
                        @special.Descricao
                        <span class="price">@special.Preco</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>
@code {
    private string Filter;
    private IEnumerable<ProdutoDtos> produtos { get; set; }

    [Inject]
    public IGerenciaProdutosLocalStorageService gerenciaProdutosLocalStorageService { get; set; } 

    protected override async Task OnInitializedAsync()
    {
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (produtos is null)
        {
            await LimpaLocalStorage();
            produtos = await gerenciaProdutosLocalStorageService.GetCollectionItem();
            StateHasChanged();
        }
        else
        {
            produtos = await gerenciaProdutosLocalStorageService.GetCollectionItem();
        }
    }

    protected async Task FilterPizza(ChangeEventArgs e)
    {
        Filter = e.Value.ToString();

        if (Filter != null)
        {
            produtos = produtos.Where(s => s.Nome.Contains(Filter, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        StateHasChanged();
    }

    private async Task LimpaLocalStorage()
    {
        try
        {
       
                await gerenciaProdutosLocalStorageService.RemoveCollectionItem();
             
            
        }
        catch (Exception ex)
        {
            // Log or handle the exception as needed
            Console.WriteLine($"Error removing item from local storage: {ex.Message}");
        }
    }
 }

